/* nulling =========================== */
*,
::before,
::after {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    padding: 0;
}
a {
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
html,
body {
    height: 100%;
    font-family: Montserrat;
    font-weight: 500;
    line-height: 1;
    font-size: 14px;
    color: #252b42;
    background: #fafafa;
}
/* service ---------------------------- */
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
[class*="__container"] {
  margin: 0 auto;
  padding: 0 15px; /* safe zone for container */
  max-width: 1076px; /* 1046 + 30px safe zone */
  /* border: 1px solid #000; */
}
._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
/* Header ============================= */
.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
}
.header__container {
  display: flex;
  align-items: center;
  min-height: 104px;
  
}
.header__logo {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: .1px;
  color: inherit;
}
.header__menu {
  margin: 0 0 0 133px;
}
.menu {
  padding: 5px 0;
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
}
.menu__item:not(:last-child) {
  margin: 0 21px 0 0;
}
.menu__link {
  color: #737373;
  font-weight: 600;
  line-height: calc(24 / 14 * 100%); /* 24px / 14px * 100% = 171% */
}
/* main =========================================== */
.page {
  flex: 1 1 auto;
}
.page__main-block {
}
.page__advantages {
}
.page__advices {
}
.page__whoweare {
  padding: 80px 0;
}
.clients__page:not(:last-child) {
  margin: 0 0 10px 0;
}
.subscribe__page {
}
/* header-block =================================== */
.header-block {
  text-align: center;
  letter-spacing: .2px;
}
.header-block__title {
  margin: 0 0 10px 0;
  font-size: 40px;
  font-weight: 700;
  line-height: calc(57 / 40 * 100%);
}
.header-block__sub-title {
  color: #737373;
  line-height: calc(57 / 40 * 100%);
  
}
/* main-block ===================================== */
.main-block {
  position: relative;
}
.main-block__body {
  position: relative;
  z-index: 2;
  max-width: 400px;
  padding: 184px 0 191px 0;
}
.main-block__body > *:not(:last-child) {
  padding: 0 0 35px 0;
}
.main-block__title {
  font-size: 58px;
  font-weight: 800;
  line-height: calc(80 / 58 * 100%); /* 137% */
  letter-spacing: .2px;
}
.main-block__text {
  font-size: 20px;
  font-weight: 500;
  line-height: calc(30 / 20 * 100%);
  letter-spacing: .2px;
  color: #737373;
}
.main-block__buttons {
  display: flex;
  flex-wrap: wrap;
  margin: -10px 0;
  gap: 10px;
}
.main-block__button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 48px;
  padding: 5px 36px;
  margin: 10px 0;
  border-radius: 37px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(28 / 14 * 100%);
  letter-spacing: 0.2px;
}
.main-block__button_orange { 
  background: #ff7b47;
  color: #fff;
}
.main-block__button_border { 
  border: solid 1px #0D5C63;
  background: none;
  color: #0D5C63;
}
.main-block__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
/* services ======================================= */
.services__body {
  position: relative;
  margin: -111px 0 0 0 ;
}
.services__column {
  display: flex;
  gap: 30px;
}
.services__item {
  max-width: 328px;
  padding: 35px 40px;
  background: #FFF;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}
.item-service_green {
  background: #0D5C63;
}
.item-service__title {
  padding: 10px 0;
  font-weight: 700;
  font-size: 24px;
  line-height: calc(32 / 24 * 100%);
  letter-spacing: 0.1px;
  color: #252B42;
}
.item-service__text {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(20 / 14 * 100%);
  letter-spacing: 0.2px;
  color: #737373;
}
.item-service_green .item-service__title,
.item-service_green .item-service__text {
  color:#fff
}
/* advantages ===================================== */
.advantages {
  padding: 80px 0;
}
.advantages__container {
}
.advantages__header {
  margin: 0 0 50px 0;
}
.advantages__body {
  margin: 0 -15px;
}
.advantages__column {
  display: flex;
  flex: 0 1 25%;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;

}
.advantages__item {
  display: flex;
  flex-direction: column;
  min-width: 240px;
  background: #fff;
  padding: 30px 40px;
  text-align: center;
}
.advantages__icon {
  min-height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.advantages__value {
  padding: 10px 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: .2px;
  color: #252B42;
}
.advantages__text {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(24 / 16 * 100%);
  letter-spacing: .1px;
  color: #737373;
}
/* advices ======================================== */
.advices {
  padding: 80px 0;
}
.advices__container {
}
.advices__header {
  margin: 45px 0;
}
.advices__body {
}
.advices__column {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* gap: 30px;  */
}
.advices__item {
  flex: 0 1 23%;
  background-color: #fff;
}
.item-advice__content {
  height: 200px;
  padding: 30px;
}
.item-advice__link {
  display: inline-block;
}
.item-advice__title {
  padding: 0 0 15px 0;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(24 / 16 * 100%);
  letter-spacing: .1px;
  color: #252B42;
}
.item-advice__text {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(20 / 14 * 100%);
  letter-spacing: 0.2px;
  color: #737373;
}
.item-advice__image {
  display: flex;
  justify-content: center;
}

/* whoweare ======================================= */
.whoweare {
}
.whoweare__container {
}
.whoweare__header {
  margin: 0 0 100px 0;
}
.whoweare__body {
  display: flex;
}
.whoweare__video {
  flex: 0 0 57%;
  position: relative;
  padding: 0 0 42.25% 0; 
}
.whoweare__video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.whoweare__content {
  flex: 1 1 auto;
  padding: 0 0 0 110px;
}
.whoweare__title {
  padding: 20px 0 10px 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 142%;
  letter-spacing: 0.2px;
  color: #252B42;
}
.whoweare__text {
  padding: 0 0 20px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.2px;
  color: #737373;
}
.whoweare__items {
}
.whoweare__item {
  padding: 30px 0 0 0;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.item-whoweare {
}
.item-whoweare__icon {
}
.item-whoweare__body {
}
.item-whoweare__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1px;
  color: #252B42;
}
.item-whoweare__text {
  font-weight: 600;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.2px;
  color: #737373;
}
/* clients ======================================== */

.clients {
}
.clients__container {
}
.clients__items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 30px 0;
}
.clients__item {
  flex: 0 1 16.6667%;
  text-align: center;
}
/* subscribe ====================================== */
.subscribe {
  position: relative;
  padding: 0 0 20px 0;
}
.subscribe::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 77px;
  width: 100%;
  background: #252B42;
}
.subscribe__container {
}
.subscribe__body {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 2px;
  margin: 0 30px;
  padding: 30px 50px;
  background: #17213C;
}
.subscribe__title {
  max-width: 266px;
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.1px;
  color: #FFFFFF;
}
.subscribe__form {
  flex: 0 1 50%;
  display: flex;
  align-items: center;
}
.subscribe__email {
  flex: 1 1 auto;
  padding: 15px 20px;
  margin: 0 0 0 20px;
  border-radius: 8px 0 0 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #737373;
  background: #f9f9f9;
}
.subscribe__email:focus {
  color: #000;
}
.subscribe__button {
  padding: 15px 22.5px;
  border-radius: 0 8px 8px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 200%;
  text-align: center;
  letter-spacing: 0.2px;
  color: #FFF;
  background: #FF7B47;
  cursor: pointer;
}
/* footer ========================================= */
.footer {
}
/* media ===========================================*/
@media (max-width: 1299.98px) {
  .main-block__image img {
    object-position: right;
  }
}
@media (max-width: 1081.98px) {
  .services__body {
    margin: -80px 0 0 0;
  }
  .services__column {
    flex-direction: column;
    align-items: center;
  }
  .services__item {
    max-width: 500px;
  }
  .advices__column {
    justify-content: space-around;
    gap: 30px;
  }
  .whoweare__content {
    padding: 0 0 0 40px;
  }
  .subscribe__body {
    margin: 0;
  }
}
@media (max-width: 991.98px) {
  .header__menu {
    margin: 0 0 0 80px;
  }
  .main-block__body {
    padding: 120px 0 170px 0;
  }
  .main-block__image img {
    opacity: .5;
  }
  .header-block__title {
    font-size: 30px;
  }
  .advantages__header {
    margin: 0 0 30px 0;
  }
  .whoweare__body {
    flex-direction: column-reverse;
  }
  .whoweare__content {
    padding: 0 0 40px 0;
  }
}
@media (max-width: 766.98px) {
  .header__menu {
    margin: 0 0 0 40px;
  }
  .clients__items {
    row-gap: 20px;
  }
  .clients__item {
    text-align: center;
    flex: 0 1 33%;
  }
  .subscribe__body {
    flex-direction: column;
    margin: 0 -15px;
  }
  .subscribe__title {
    max-width: 100%;
  }
  .subscribe__form {
    margin: 30px 0 0 0;
    justify-content: center;
  }
  .subscribe__email {
    margin: 0;
    width: 320px;
  }
}
@media (max-width: 478.98px) {
 .header__container {
   min-height: 80px;
 }
  .header__menu {
    margin: 0 0 0 20px;
  }
  .menu__link {
    font-size: 18px;
    color: #484848;
  }
  .main-block__title {
    font-size: 42px;
  }
  .main-block__text {
    color: #484848;
  }
  .main-block__button {
    flex: 1 1 auto;
  }
  .advantages__column {
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 15px;
  }
  .clients__item {
    flex: 1 0 40%;
  }
  .subscribe__form {
    flex-direction: column;
  }
  .subscribe__email {
    border-radius: 8px;
    margin: 0 0 20px 0;
  }
  .subscribe__button {
    border-radius: 8px;
    margin: 0 0 0 210px;
  }
}
@media (max-width: 384.98px) {
  .subscribe__email {
    width: 260px;
  }
  .subscribe__button {
    margin: 0 0 0 150px;
  }
}